.navbar-container {
  background-color: transparent;
  color: #fff;
  .navbar-nav {
    gap: 4rem;
  }
  .nav-link {
    color: #fff !important;
    font-family: "Montserrat", sans-serif;
  }
  .navbar-toggler {
    background-color: #fff !important;
  }
}
